{% extends 'general/general.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'cinema_place/css/rating.min.css' %}">
    <div class="row">
        {% if films %}
            <style>
                .film_pic {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-bottom: 10px;
                    position: relative;
                    align-items: center;
                }

                .description {
                    margin-bottom: 40px;
                }

                .buttons {
                    position: absolute;
                    bottom: 0;
                }

            </style>
            {% for film in films %}
                <div class="col-md-4 col-lg-2 col-6 card film_pic" style="min-height: 30vh;">
                    <img class="card-img-top" src="{{ film.horizontal_image_url }}">
                    <div class="card-body description" id="{{ film.id }}">
                        <div class="name">
                            <h3 class="card-title text-center">{{ film.name }}</h3>
                        </div>
                        <div>
                            <h4>
                                <p>{{ film.description|default:""|truncatechars:"200" }}</p>
                                <p>Дата выпуска: {{ film.date_release }}</p>
                            </h4>
                        </div>
                    </div>
                    <div class="buttons" id="{{ film.id }}">
                        <div class="rating col-12"
                             style="display: flex; flex-direction: row; justify-content: center"></div>
                        <button class="center-block btn btn-success btn-block"  onclick="rate(this)">Оценить
                        </button>
                    </div>


                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 text-center">
                <h1 class="alert-warning">Вы уже оценили все фильмы!</h1>
            </div>
        {% endif %}
    </div>
    <script src="{% static 'cinema_place/js/rating.min.js' %}"></script>
    <script>
        var els = $('.rating');
        var currentRating = 0;
        var maxRating = 10;
        ratings = {};
        for (k = 0; k < els.length; k++) {
            id = $(els[k]).parent().attr('id');
            ratings[id] = rating(els[k], currentRating, maxRating);
        }


        function remove(el) {
            el = $(el);
            el = el.parent();
            el.remove()
        }

        function rate(el) {
            id = $(el).parent().attr('id');
            rating = ratings[id];
            rating = rating.getRating();
            var csrftoken = getCookie('csrftoken');
            if (rating > 0) {
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    type: "POST",
                    data: {rate: rating, film_id: id},
                    url: '{% url "rate-film" %}',
                    error: function (error) {
                        console.log('Произошла ошибка ' + error)
                    },
                    success: function (data) {
                        $('#' + id).parent().remove()
                    }

                });
            }

        }
    </script>
{% endblock %}