{% extends 'general/general.html' %}

{% block content %}
    <div class="center-block text-center col-12">
        <h3>{{ name }} {{ datetime }}</h3>
        <p> Вы подтверждаете бронь следующих билетов:</p>
        {% for seat in seats %}
            <p class="alert-info" style="width: 40%;margin-left: 30%;">Ряд {{ seat.row }}
                Место {{ seat.seat }} Тип {{ seat.type.type }}
                Зал {{ hall }}</p>
        {% endfor %}
        <p>Общая цена {{ price }}</p>

        <div class="row justify-content-center">
            <form class="form form-vertical" role="form"
                  action="{% url 'continue-reservation' reservation_seat_ids=seat_ids session_id=session_id %}"
                  method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn-success btn-lg btn" value="Подтвердить бронирование"><
            </form>
        </div>
        <div class="row justify-content-center">
            <p class="alert-info">После подтверждения информация придет к вам на почту</p>
        </div>
    </div>

{% endblock %}