{% extends 'general/general.html' %}
{% block content %}
    {% load comments %}
    {% load comments_xtd %}
    <div id='main_div' class="row" style="display: flex">
        <div class="col-md-3 col-12 card" id="cinema_image" align="center">
            <div class="card-title">
                <h2>{{ cinema.brand.name }} {{ cinema.area.city.name }}</h2>
            </div>
            <img class="card-img" src="{{ cinema.brand.image_url }}">
            <div class="card-body">
                <h3>Адрес: Родниковая 9 кв 210</h3>
                <h3>Телефон: 880-0355-35-35</h3>
                <a class="btn btn-lg btn-primary" href="{% url 'timetable' cinema_slug=cinema.slug %}">Расписание на сегодня</a>

            </div>
        </div>
        <div class="col-md-3 col-12 text-center border" id="films" style="margin-bottom: 20px">
            <h2>Фильмы прокате:</h2>
            <div class="center-block text-center" style="clear: both;float:none;">
                <p> {% for filmname in filmnames %}
                    {{ filmname }},
                {% endfor %}</p>
            </div>


        </div>
        {#        <div class="col-md-5 col-12 video-container" id="map">#}
        {#            <iframe src="https://www.youtube.com/embed/L4gJRP8nVLY" height=""#}
        {#                    width="100%"#}
        {#                    allowfullscreen="" frameborder="0"></iframe>#}
        {#        </div>#}
        <div id='map' class="col-md-6 col-12 center-block border thumbnail" style="min-height: 250px">

        </div>
    </div>
    <div id="search">
        <div class="row">
            <h2><p class="text-center">Сеансы</p></h2>
            <div id="date_paginator" style="width: 1000px"></div>
            <div class="row" id="films_sessions">
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-12 justify-content-center align-items-center"
             style="float:none;color: black !important;">
            {% get_comment_count for cinema as comment_count %}


            {% if cinema.allow_comments %}
                <div class="comment">
                    <div class="well">
                        {% render_comment_form for cinema %}
                    </div>
                </div>
            {% endif %}

            {% if comment_count %}
                <hr/>
                <ul class="media-list">
                    {% render_xtdcomment_tree for cinema %}
                </ul>
            {% endif %}
        </div>
    </div>
    <style>
        .col {
            flex: 1; /* additionally, equal width */

            padding: 1em;
            border: solid;
        }
    </style>
    <script>
        $('.hidden').addClass('d-none');

        function get_sessions_by_data(event, date) {
            if (typeof date !== "string") {
                date = date.format("YYYY-MM-DD");
            }
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                type: "POST",
                cache: false,
                data: {date: date},
                url: '{% url "cinema-detail" cinema_slug=cinema.slug %}',
                error: function (error) {
                    {#                    alert("Произошло ошибка:" + error)#}
                },
                success: function (data) {
                    $("#films_sessions").html(data)
                }

            });
        }

        var options = {
            startDate: "{{ date_start }}",
            endDate: "{{ date_end }}",
            onSelectedDateChanged: get_sessions_by_data,
        };
        $('#date_paginator').datepaginator(options);

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: {lat: {{ cinema.area.geom.y }}, lng: {{cinema.area.geom.x}}}
            });
            var marker = new google.maps.Marker({
                position: {lat: {{ cinema.area.geom.y }}, lng: {{cinema.area.geom.x}}},
                map: map
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWfY6rV9iqCZcL2gxPpsUddpYIHkQbxbk&callback=initMap">
    </script>
{% endblock %}