{% if cinemas_with_films %}
    {% for cinema, films in cinemas_with_films.items %}
        <div class="col-md-3 col-xs-6 thumbnail">
            <img src="{{ cinema.brand.image_url }}" class="img-responsive" style="max-height:300px">
            <div class="caption center-block text-center" style="float: none">
                <h3 style="text-align: center; margin-top: 1px;">{{ cinema.name }}</h3>
                <div class="col-md-8 center-block" style="float:none;">
                    <h3>Фильмы в прокате:</h3>
                    {% for film in films %}
                        <h4>{{ film }}</h4>
                    {% endfor %}
                    <p align="center"><a href="{% url 'cinema-detail' cinema_slug=cinema.slug %}" class="btn btn-primary"
                             role="button">Подробнее</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-xs-12 text-center">
        <h1 class="alert-warning">Нет кинотетаров подходящих под условие поиска</h1>
    </div>
{% endif %}
