<div class="row">
    {% for cinema_with_sessions in cinemas_with_sessions %}
        {% for cinema, sessions in cinema_with_sessions.items %}

            <div class=" col-xl-2 col-md-3  col-4 card">
                <img src="{{ cinema.brand.image_url }}" class="card-img-top">
                <div class="card-body justify-content-center text-center">
                    <h3>
                        <a href="{% url 'cinema-detail' cinema_slug=cinema.slug %}">{{ cinema.brand }} {{ cinema.area.city.name }}</a>
                    </h3>
                    <div class=" text-center">
                        <h3>Сеансы:</h3>
                        <div class="row">
                            {% for session in sessions %}
                                <div class="col-md-6">
                                    <a href='{% url 'get-reservation-by-session-id' session_id=session.id %}'
                                       class="btn btn-lg btn-outline-primary">
                                        {{ session.datetime_start.time|time:"H:i" }}
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endfor %}

</div>