{% if films_with_sessions %}
    {% for film, sessions in films_with_sessions.items %}
        <div class="col-md-3 col-lg-2 col-6 card" style="margin-bottom: 10px">
            <img class="card-img-top" src="{{ film.horizontal_image_url }}">
            <div class="card-body">
                <h3 class="card-title align-self-center ">{{ film.name }}</h3>
                <p class="card-text"><h4> {{ film.description|default:""|truncatechars:"50" }} </h4> </p>
                <div>
                    <h3>Сеансы:</h3>
                    {% for session in sessions %}
                        <a href="{% url 'get-reservation-by-session-id' session_id=session.id %}"
                           class="btn btn-primary"
                           role="button"><h4 align="center"
                                             style="margin-bottom: 0px;margin-top: 0px">{{ session.datetime_start.time|time:"H:i" }}</h4>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-12 text-center">
        <h1 class="alert-warning">Нет сеансов подходящих под условие поиска</h1>
    </div>
{% endif %}
