{% extends 'general/general.html' %}
{% block content %}

    {% load comments %}
    {% load comments_xtd %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'cinema_place/css/rating.min.css' %}">


    <div id="main_div" style="display: flex">
        <div class="col-md-4 col-xs-12" id="film_image" align="center">
            <img class="img-responsive" src="{{ film.horizontal_image_url }}">
            <h3><p id="rate"> Ретинг фильма {{ film.rate }}</p></h3>
            {% csrf_token %}
            {% if user.is_authenticated %}
                <div id="rating" class="col-xs-12"
                     style="display: flex; flex-direction: row; justify-content: center"></div>
                <button class="center-block" id='button_rate' onclick="rate()">{% if rated_by_user %}
                    Переоценить{% else %}
                    Оценить{% endif %}</button>
            {% else %}
                <p align="center">Войдите в систему, чтобы оценить</p>
            {% endif %}

        </div>
        <div class="col-md-4 col-xs-12" id="description" style="text-align: left; border: 2px solid black">
            <h1>{{ film.name }}</h1>
            <div style="clear: both;">
                <p style="float: left"> Возраст:</p>
                <p style="float: left"> {{ film.age }}+</p></div>
            <div style="clear: both;">
                <p style="float: left"> Режиссер: </p>
                <p style="float: left"> {% for director  in film.directors.all %}{{ director }}, {% endfor %}</p></div>
            <div>
                <p style="float: left"> Жанр: </p>
                <p style="float: left">{% for genre  in film.genres.all %}{{ genre }}, {% endfor %}</p></div>
            <div style="clear: both;">
                <p style="float: left"> В главных ролях: </p>
                <p style="float: left">{% for actor  in film.cast.all %}{{ actor }}, {% endfor %}</p></div>
            <div style="clear: both;">
                <p style="float: left"> Описание: </p>
                <p style="float: left">{{ film.description }}+</p></div>
            <p align="center"><a href="{% url 'search-cinemas-with-sessions' film_slug=film.slug %}"
                                 class="btn btn-primary"
                                 role="button">Сеансы</a></p>
        </div>
        <div class="col-md-4 col-xs-12 video-container" id="film_video">
            <iframe src="https://www.youtube.com/embed/L4gJRP8nVLY"
                    height="100%" width="100%"
                    allowfullscreen="" frameborder="0"></iframe>
        </div>
    </div>
    <div class="col-md-8 col-xs-12" style="margin-left: 15%; color:black !important;">
        {% get_comment_count for film as comment_count %}


        {% if film.allow_comments %}
            <div class="comment">
                <div class="well">
                    {% render_comment_form for film %}
                </div>
            </div>
        {% endif %}

        {% if comment_count %}
            <hr/>
            <ul class="media-list">
                {% render_xtdcomment_tree for film %}
            </ul>
        {% endif %}
    </div>
    <style>
        body > div > div.col-md-8.col-xs-12 > ul > li > div.media-body > div.comment > a {
            color: darkblue !important;
        }

    </style>
    <script src="{% static 'cinema_place/js/rating.min.js' %}"></script>
    <script>
        var el = document.querySelector('#rating');
        var currentRating = 0;
        var maxRating = 10;
        var myRating = rating(el, currentRating, maxRating);


        $(window).resize(function () {
            if ($(window).width() < 768) {
                $('#main_div').css('flex-direction', 'column')
            }
            if ($(window).width() > 768) {
                $('#main_div').css('flex-direction', 'row')
            }
        });

        function rate() {
            rating = myRating.getRating();
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                type: "POST",
                data: {rate: rating, film_id: {{film.id}}},
                url: '{% url "rate-film" %}',
                error: function (error) {
                    console.log('Произошла ошибка ' + error)
                },
                success: function (data) {
                    $("#rate").html("Рейтинг фильма " + data);
                    $('#button_rate').html('Переоценить');
                }

            });
        }
    </script>
{% endblock %}