{% extends 'general/general.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% include 'cinema_place/recommedations.html' %}
    {% endif %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" style="background-color: black">
            {% for film in films|slice:":5" %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img class="d-block w-50" src="{{ film.big_image_url }}" alt="First slide" style="margin: auto">
                    <div class="carousel-caption d-none d-md-block">
                        <a class="btn btn-primary btn-lg"
                           href="{% url 'search-cinemas-with-sessions' film_slug=film.slug %}"
                           role="button">Кинотеатры</a>
                        <a href="{% url 'film-detail' film_slug=film.slug %}"
                           class="btn btn-default"
                           role="button">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% if user.is_authenticated %}

        {% if recommendations.recommendations %}
            <h1 class="alert-info text-center">Персональная подборка</h1>
            <div id="recommedations" class="row">
                {% include 'cinema_place/film_thumbnail.html' with films=recommendations.recommendations %}
            </div>
        {% else %}
            <div class="col-12 text-center">
                <h1 class="alert-warning">Осталось оценить {{ recommendations.films_to_get_recommendations }}
                    фильмов, чтобы получить рекомендацию</h1>
            </div>
        {% endif %}
    {% endif %}
    <h1 class="alert-info text-center">Фильмы в прокате</h1>
    <div class="row">
        {% include 'cinema_place/film_thumbnail.html' %}


    </div>

    <script>
        $('.carousel').carousel();
        $('.carousel').carousel({
            interval: 2000
        })
    </script>
{% endblock %}

