<!DOCTYPE html>
<html lang="en" style="height:100% ;width:100%;">
<head>

    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'general/bootstrap/css/bootstrap.min.css' %}" }>
    <link rel="stylesheet" href="{% static 'cinema_place/css/bootstrap-datepaginator.css' %}" }>
    <script src="{% static 'general/js/jquery.js' %}"></script>
    <script src="{% static 'general/js/popper.js' %}"></script>
    <script src="{% static 'general/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'general/js/csrf.js' %}"></script>
    <script src="{% static 'cinema_place/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'cinema_place/js/momentjs.js' %}"></script>
    <script src="{% static 'cinema_place/js/bootstrap-datepaginator.js' %}"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'main' %}"><h1>CinemaHouse</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link btn-lg" href="{% url 'films' %}">Фильмы</a></li>
                <li class="nav-item"><a class="nav-link btn-lg" href="{% url 'cinemas' %}">Кинотеатры</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link btn-lg" href="{% url 'rate-page' %}">Оценивание фильмов</a>
                    </li>

                {% endif %}
                {% block menu %}

                {% endblock %}
            </ul>
            <ul class="navbar-nav ml-auto">

                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link btn-lg" href={% url 'logout' %}>Выход {{ user.username }}</a>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link btn-lg" href={% url 'login' %}>Вход</a></li>
                    <li class="nav-item"><a class="nav-link btn-lg"
                                            href="{% url 'registration_register' %}">Регестрация</a></li>
                {% endif %}


            </ul>

        </div>

    </nav>
</head>
<style>
    #date_paginator > ul > li > a {
        color: black !important;
    }

    #date_paginator > ul > li > a:hover {
        color: blue !important;
    }

    .dp-no-select {
        background-color: darkgray !important;
    }

    .dp-no-select:hover {
        background-color: darkgray !important;
        color: black !important;
    }

    div .border {
        border: 2px solid black;
    }
</style>
<body style="background-color: whitesmoke;height: 100%;width: 100%">
<div class="container-fluid">
    {% block content %}
    {% endblock %}

</div>

</body>
</html>