{% load widget_tweaks %}
<div class="form-group {% if field.errors %}has-error{% endif %}" style="text-align: left">
    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10 ">
        {{ field|add_class:'form-control input-lg' }}
        {% if field.errors %}
            <span class='text-danger'>{{ field.errors }}</span>
        {% endif %}
        {% if field.help_text %}
            <div style="border: 1px solid gray">
                <span class="help-block">{{ field.help_text|safe }}</span>
            </div>
        {% endif %}
    </div>
    <hr>
</div>